accelerate
diffusers>=0.27.0
faster-whisper
fpdf2
google-generativeai
huggingface_hub
numpy
pillow
pydub
python-dotenv
pyttsx3
safetensors
soundfile
streamlit
torch
transformers>=4.41.0
llama-cpp-python
audio-recorder-streamlit
